// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.inner {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  position: relative;
}
.non-auth {
  color: #fff;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  box-sizing: border-box;
  .login {
    border: 1px solid #fff;
    border-radius: 18px;
    transition: all .3s ease-in-out;
    span {
      display: inline-block;
      padding: 5px 20px;
    }
    &:hover {
      background-color: #fff;
      color: initial;
    }
  }
  .buttons {
    li {
      display: inline-block;
      a {
        padding: 10px 5px;
      }
    }
  }
}
.wall-paper {
  background-color: #fafafa;
  background-image: url("pexels-photo-58457.jpeg");
  background-size: cover;
  padding-top: 66px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($base-color, .65);
  }
}
#non-auth-root {
  position: relative;
  .wrapper {
    padding: 0;
    height: 100%;
    position: relative;
  }
  .main-visual {
    height: 530px;
    padding: 15px 30px 30px;
    .inner {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
      .message {
        padding: 90px 30px 90px 0;
        h2 {
          font-size: 4rem;
        }
      }
    }
  }
  .features {
    background-color: #fff;
    text-align: center;
    padding: 30px;
    .features-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 33.3% 33.3% 33.3%;
      grid-template-columns: 33.3% 33.3% 33.3%;
      img {
        width: 70px;
        margin: 0 auto 30px;
      }
    }
  }
  .contribute {
    background-color: #0a0a0a;
    padding: 30px;
    color: #fff;
    text-align: center;
  }
}

[data-modal="popup"] {
  cursor: pointer;
}
.signup-form, .login-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 90px 30px 95px;
  form {
    margin-bottom: 30px;
    input[type="text"], input[type="password"] {
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $utility-color;
      margin-bottom: 40px;
    }
    button[type="submit"] {
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      padding: 15px 30px;
      border-radius: 25px;
      background-color: $base-color;
      color: #fff;
      cursor: pointer;
    }
  }
  .goto-login {
    color: darken($utility-color, 50%);
  }
}
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#0a0a0a, .4);
    z-index: 1;
  }
  .login-form {
    position: absolute;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }
}
