// Place all the styles related to the TodoList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

main, footer, section, aside, article {
  padding: 30px;
  box-sizing: border-box;
  h1, h2, h3, h4, h5 {
    margin: 0 0 30px;
  }
  p {
    margin: 0 0 20px;
  }
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  padding: 15px 30px;
  position: sticky;
  nav {
    text-align: right;
    position: relative;
    .logo {
      position: absolute;
      left: 0;
      i {
        font-size: 1.5rem;
      }
    }
    ul {
      display: inline-block;
      line-height: 1.5rem;
      &.buttons {
        li {
          display: inline-block;
          a {
            padding: 10px 5px;
          }
        }
      }
    }
  }
}
[data-modal="popup"] {
  cursor: pointer;
}
.signup-form, .login-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 100px 30px;
  form {
    margin-bottom: 30px;
    input[type="text"], input[type="password"] {
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $utility-color;
      margin-bottom: 40px;
    }
    button[type="submit"] {
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      padding: 15px 30px;
      border-radius: 25px;
      background-color: $base-color;
      color: #fff;
      cursor: pointer;
    }
  }
  .goto-login {
    color: darken($utility-color, 50%);
  }
}
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#0a0a0a, .4);
    z-index: 1;
  }
  .login-form {
    position: absolute;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }
}
.inner {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  position: relative;
}
#todolist-root {
  .todolist_container {
    max-width: 950px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    li {
      position: relative;
      .delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
        color: $utility-color;
      }
    }
    .todolist_component {
      flex-basis: 270px;
      padding: 30px;
      box-sizing: border-box;
    }
    .todo_component {
      flex-basis: 680px;
      padding: 30px;
      box-sizing: border-box;
      background-color: #ffffff;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      .todos {
        margin-bottom: 30px;
        li {
          line-height: 30px;
          padding: 10px 0;
          border-bottom: 1px solid $utility-color;
          &:first-child {
            border-top: 1px solid $utility-color;
          }
          .completed {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid $utility-color;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            transition: all .2s ease-in-out;
            &.true {
              background-color: lighten($completed-color, 30%);
              border-color: lighten($completed-color, 20%);
              &::before {
                content: "\f00c";
                font-family: FontAwesome;
                color: $completed-color;
                position: absolute;
                font-size: 13px;
                line-height: initial;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
}
