// Place all the styles related to the TodoList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.mypage-header {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 10px 30px;
  .user-name {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50px;
    background-color: $base-color;
    text-align: center;
    color: #fff;
  }
  .logout {
    display: inline-block;
    color: darken($utility-color, 30%);
    border: 1px solid;
    border-color: darken($utility-color, 20%);
    border-radius: 18px;
    padding: 5px 20px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: initial;
    }
  }
}

#todolist-root {
  main {
    background-color: $utility-color;
    padding: 15px 30px;
  }
  .todolist_container {
    max-width: 1000px;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 100%;
    li {
      position: relative;
      .delete {
        position: absolute;
        right: 10px;
        cursor: pointer;
        color: $utility-color;
      }
    }
    .todolist_component {
      background-color: #fff;
      flex-basis: 285px;
      padding: 30px;
      box-sizing: border-box;
      box-shadow: 0 5px 10px 0px rgba(0,0,0,0.1);
      .todolists {
        margin-bottom: 30px;
        li {
          padding: 10px 0;
          border-bottom: 1px solid $utility-color;
          &:first-child {
            border-top: 1px solid $utility-color;
          }
        }
      }
    }
    .todo_component {
      flex-basis: 700px;
      margin-left: 15px;
      padding: 30px;
      box-sizing: border-box;
      background-color: #ffffff;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      box-shadow: 0 5px 10px 0px rgba(0,0,0,0.1);
      .todos {
        margin-bottom: 30px;
        li {
          line-height: 30px;
          padding: 10px 0;
          border-bottom: 1px solid $utility-color;
          &:first-child {
            border-top: 1px solid $utility-color;
          }
          .completed {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid $utility-color;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            transition: all .2s ease-in-out;
            &.true {
              background-color: lighten($completed-color, 30%);
              border-color: lighten($completed-color, 20%);
              &::before {
                content: "\f00c";
                font-family: FontAwesome;
                color: $completed-color;
                position: absolute;
                font-size: 13px;
                line-height: initial;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
}
